// COLORS:

$colors: (
  primary: #55c57a,
  primary-light: #7ed56f,
  primary-dark: #28b485,

  secondary-light: #ffb900,
  secondary-dark: #ff7730,

  tertiary-light: #2998ff,
  tertiary-dark: #5643fa,

  grey-dark: #777,
  grey-light-1: #f7f7f7,
  grey-light-2: #eee,

  white: #fff,
  black: #000
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// FONT
$default-font-size: 1.6rem;
